<!--Author : Rohit Rane-->
<div class="bread-crumb">
  <span data-ng-if="bc.pageState==='searchResults'" class="resultBar">
    <span ng-show="bc.showSubsetInfo(bc.totalResults,bc.resultSetLimit)">1-{{bc.resultLength}} of </span> {{bc.totalResults}}
  results for<span class="bold">&nbsp;<span data-ng-if="bc.showAll" data-ng-click="bc.search()" data-ng-class="{'clickable':bc.isClickable()}">All&nbsp;:&nbsp;</span><span data-ng-repeat="cat in bc.cats track by $index"
    data-ng-show="cat" data-ng-click="bc.search($index)" data-ng-class="{'clickable':bc.isClickable($index)}">{{cat['name']}}<span data-ng-if="bc.showColon($index,bc.cats)">&nbsp;:&nbsp;</span></span><span data-ng-if="bc.showYmm()">{{bc.ymm.year}}&nbsp;{{bc.ymm.make}}&nbsp;{{bc.ymm.model}}<span data-ng-if="bc.searchString">&nbsp;:&nbsp;</span></span>
  <a data-ng-if="bc.searchString"><span>"</span>{{bc.searchString}}<span>"</span></a>
  </span>
  </span>
  <span data-ng-if="bc.pageState==='part'" class="resultBar">
    <span data-ng-if="bc.showBackButton">
    <span  class="back-section" data-ng-if="!bc.showPathCats" data-ng-click="bc.goToSearch()">
      <i class="fa fa-angle-left"></i>&nbsp;&nbsp;Back to search results for <a href="">"{{bc.searchString}}"</a>
     </span>
  <span data-ng-if="bc.showPathCats" class="bold">&nbsp;<span data-ng-if="bc.showAll" data-ng-click="bc.search()">All&nbsp;:&nbsp;</span><span data-ng-repeat="cat in bc.cats track by $index"
    data-ng-show="cat">{{cat['name']}}<span data-ng-if="bc.showColon($index,bc.cats)">&nbsp;:&nbsp;</span></span><span data-ng-if="bc.showYmm()">{{bc.ymm.year}}&nbsp;{{bc.ymm.make}}&nbsp;{{bc.ymm.model}}<span data-ng-if="bc.searchString">&nbsp;:&nbsp;</span></span>
  <a data-ng-if="bc.searchString"><span>"</span>{{bc.searchString}}<span>"</span></a>
  </span>
  </span>
  <span data-ng-if="!bc.showBackButton">&nbsp;
        <span data-ng-repeat="category in bc.categories track by $index" class="bold">{{category.name}}&nbsp;:&nbsp;</span>
  <a href="#">{{bc.partNo}}</a>
  </span>

  </span>
  <span data-ng-if="bc.pageState==='searchResults'" class="dropdownBar">
      <div class="btn-group" uib-dropdown is-open="status.isopen">
        <button id="single-button" type="button" class="btn btn-default" uib-dropdown-toggle ng-disabled="disabled">
                {{bc.sortItem}} <span class="caret"></span>
  </button>
  <ul class="pull-right" uib-dropdown-menu role="menu " aria-labelledby="single-button">
    <li role="menuitem">
      <a href="#" ng-click="bc.sortItem= action; bc.sortAction(action)" ng-model="bc.sortItem" ng-repeat="action in bc.sortAttributes">{{action}}</a>
    </li>
  </ul>
</div>
</span>


<div style="clear:fix "> </div>
</div>