/*Author:Rohit Rane*/
.bread-crumb{
    height: 40px;
    padding: 0px 10px;
    background-color: $color_extreme_two;
    margin: 0px -10px;
    .resultBar{
        @media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
            font-size: 8px !important;
            line-height: 50px !important;
        }
        font-size: 12px;
        float: left;
        line-height: 40px;
        .bold{
            font-weight: bold;
            a{
                cursor: pointer;
            }
        }
    }
    .dropdownBar{
        @media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
            line-height: 50px !important;
        }
    }
    .dropdownBar{
        line-height: 40px;
        float: right;
        .btn{
            padding: 2px 5px;
            font-size: 12px;
            font-weight: bold;
            background-color: $support_color_light_one;
        }
    }
    
    .back-section{
      cursor: pointer;
      &:hover{
        text-decoration: underline;        
      }      
    }
}