<!-- /*Author : Shaifali Jaiswal*/ -->
<!-- <footer class="footer mainFooter">
    <nav class="navbar">
        <div class="container">
            <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-6">
                    <div class="navbar-header footer-mid">
                        <p><span>&copy;</span> 2016  Dana Holding Corporation</p>
                    </div>
                    <div class="navbar-collapse">
                        <ul class="nav navbar-nav">
                            <li><a href="#">About</a></li>
                            <li><a href="#">Terms of Use</a></li>
                            <li><a href="#">Privacy Policy</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-3"></div>
            </div>
        </div>
    </nav>
</footer>
 -->
 
<footer class="footer mainFooter">
    <nav class="navbar">
        <div class="container">
            <div class="row">
                <p class="footer-center">
                    <span>&copy;</span> 2016 Dana Holding Corporation <span>|</span> <a href="#">About</a><span>|</span><a href="#">Terms of Use</a><span>|</span><a href="#">Privacy Policy</a>
                </p>
            </div>
        </div>
    </nav>
</footer>
