<footer class="footer mainFooter">
    <nav class="navbar">
        <div class="container">
            <div class="row">
                <p class="footer-center">
                    <span>&copy;</span> {{'FOOTER.DANAHCORP' | translate}}
                    <span>|</span> <a href="#">{{'FOOTER.ABOUT' | translate}}</a>
                    <span>|</span><a href="#">{{'FOOTER.TERMS' | translate}}</a>
                    <span>|</span><a href="#">{{'FOOTER.POLICY' | translate}}</a>
                </p>
            </div>
        </div>
    </nav>
</footer>
