$fa-font-path: "../../bower_components/components-font-awesome/fonts";

$accent_color : #0099CC;
$color_extreme_one : black;
$color_extreme_two : white;
$support_color_dark_one : #222222;
$support_color_dark_two : #323232;
$support_color_light_one : #dbdbdb;
$support_color_light_two : #f0f0f0;
$support_color_primary:#0093c6;
$support_color_light_blue_third: #119aca;
$support_color_dark_black_third: #404040;
$support_color_default:#000000;
$category_menu_bg:#222222;
$website_logo:"/assets/images/dana-logo.png";
$home:"/assets/images/home.png";