$fa-font-path: "../../bower_components/components-font-awesome/fonts";

$accent_color : orange;
$color_extreme_one : gold;
$color_extreme_two : white;
$support_color_dark_one : #b20838;
$support_color_dark_two : #b20838;
$support_color_light_one : #dbdbdb;
$support_color_light_two : #f0f0f0;
$support_color_primary:yellow;
$support_color_light_blue_third: #b20838;
$support_color_dark_black_third: #b20838;
$support_color_default:pink;
$category_menu_bg:maroon;
$website_logo:"/assets/images/merritor.jpg";
$home_temp_bg:"/assets/images/merritor_homeBG.jpg";