.bread-crum{
    height: 40px;
    width: 100%;
    padding: 0px 10px;
    .resultBar{
        font-size: 12px;
        float: left;
        line-height: 40px;
        vertical-align: middle;
        .bold{
            font-weight: bold;
            a{
                cursor: pointer;
            }
        }
    }
    .dropdownBar{
        line-height: 40px;
        vertical-align: middle;
        float: right;
        .btn{
            padding: 2px 5px;
            font-size: 12px;
            font-weight: bold;
            background-color: #bdbdbd;
        }
    }
}
.search-results{
    background-color: #dbdbdb;
    .filter{
        .refine-list{
            .refine-header{
                font-weight: bold;
                .expander{
                    float: right;
                }
            }
            .refine-options{
                label{
                 font-weight: normal;   
                }
                .list{
                    margin-left: 20px;   
                }
                .scale{
                    form{
                        display: table;
                            input[type="range"] {
                                display: inline-block;
                                width: 70%;
                        }
                        output{
                            display: table-cell;
                            vertical-align: middle;
                        }
                    }
                }
                .search{
                    .filterBox{
                        padding: 5px 5px 10px 0px;
                        input[type="text"]{
                            width: 90%;
                            -moz-border-bottom-colors: none;
                            -moz-border-left-colors: none;
                            -moz-border-right-colors: none;
                            -moz-border-top-colors: none;
                            border-color: -moz-use-text-color -moz-use-text-color #ddd;
                            border-image: none;
                            border-width: 0 0 1px;
                            font-size: 13px;
                            line-height: 18px;
                            padding: 0 5px 5px 0;
                        }
                        .glyphicon-search{
                            float: right;
                        }
                    }
                    .list{
                        margin-left: 0px; 
                        display: block;
                    }
                }
            }
        }
    }
    .search-results-details{
        background-color: white;
        .result-card{
            .panel{
                border-radius: 0px !important;
                padding: 0 20px;
                .col-md-6, .col-md-3{
                    padding: 0;
                }
                .panel-heading{
                background: white !important;
                height: 40px;
                padding: 10px 0px;
                .name{
                    font-size: 16px;
                    font-weight: bold;
                    color: blue; 
                }
                .cart{
                  span{
                    margin: 0px 5px;
                  }
                  span:nth-child(2){
                    border-left: 1px solid #AAAAAA;
                    border-right: 1px solid #AAAAAA;
                    padding: 0px 5px;
                    margin: 0px;
                  }
                    .glyphicon-shopping-cart{
                        color: blue;
                    }
                }
             }
             .panel-body{
                 padding: 10px 10px;
                 .col-md-5{
                     border-right:1px solid #AAAAAA;
                     ul{
                         padding-left: 0px;
                       li{
                         display: inline-block;
                         font-weight: bold;
                         font-size: 12px;
                         a{
                           font-size: 10px;
                         }
                       }
                       li:nth-child(2){
                           float: right;
                       } 
                    }
                    table{
                        tr{
                            td{
                                font-size: 10px;
                                font-weight: bold;
                                height: 20px;
                                vertical-align: middle;
                                padding: 0px !important;
                            }
                        }
                    }
                 }
                 .col-md-4{
                     p{
                         font-size: 10px;
                         color: blue;
                         margin-top: 8px;
                         font-weight: bold;
                     }
                     ul{
                         padding-left: 10px;
                         li{
                             word-break: break-all;
                             font-size: 10px;
                             list-style: square;
                             font-weight: 600;
                             margin-top: 3px;
                         }
                     }
                 }
             }
          }
        }
        .first-row{
            height: 40px;
            padding: 10px;
            .name{
                font-size: 16px;
                color: blue; 
            }
            .cart{
                ul{
                    float: right;
                    li{
                        padding: 0px 5px;
                        display: inline-block;
                        .glyphicon-shopping-cart{
                            color: blue;
                        }
                    }
                    li:nth-child(2){
                        border-left: 1px solid #AAAAAA;
                        border-right: 1px solid #AAAAAA;
                    }
                }
            }
        }
        hr{
            margin: 0px !important;
        }
    }
    .parts{
        .part1{
            padding: 10px;
            background-color: white;
            height: 300px;
        }
        .part2{
            padding: 10px;
            background-color: white;
            height: 200px;
        }
    }
}