header{
    .navbar{
      margin-bottom: 0px;
    }
    .top-nav{
       @media(min-width:768px){
        height: 140px;
      }   
    }
    .nav-section{
      //display:block; 
      &.top{
          height: 40px;
          ul{
            height: 40px;
            li{
              height: 40px;
              a{
                padding-top: 0px;
                padding-bottom: 0px
              }
            }
          }
      }
      &.middle{
          height: 60px
      }
      &.bottom{
        height: 30px;
          ul{
            height: 30px;
            li{
              height: 30px;
              a{
                padding-top: 0px;
                padding-bottom: 0px
              }
            }
          }
      }
      
    }
    .navbar-header{
      @media(min-width:768px){
        width: 10%;
      }      
      &.top{
        height: 100px;
      }
    }
    .category-menu{
      height: 30px;
      .navbar-header{
        height: 30px;
      }
    }
}