header {
    .navbar-header{
       // max-width: 1280px;
    }
    .typeahead-popup{
            top:78px !important;
        }
    .navbar {
        margin-bottom: 0px;
        border: 0px;
    }
    .navbar-brand {
        padding: 0px;
        text-align: center;
        width: 160px;
        img{
            margin-top: 10px;
            margin-left: 30px;
            margin-right: 20px;
            width: 105px;
            //content:url($website_logo);
        }
        p{
            margin: 5px 0 0 5px;
            //it was font-size: 16px
            font-size: 15px; 
            color: $color_extreme_two;
            font-weight: 500
        }
    }
    .top-nav {
        @media(min-width: 768px) {
            /*-webkit-transition: height 0.25s;
        transition: height 0.25s;*/
            height: 140px;
        }
        background-color:$support_color_dark_two;
        border-radius: 0px;
    }
    .nav-section {
        //display:block; 
        &.top {
            height: 40px;
            ul {
                height: 40px;
                
                li {
                    height: 40px;
                    padding-top: 10px;
                    a {
                        padding-top: 0px;
                        padding-bottom: 0px;
                        padding-left: 10px;
                        // color: $support_color_light_one;
                        color: $support_color_light_three;
                    }
                }
            }
        }
        &.middle {
            height: 70px;
            .form-group {
                float: left;
            }
            [uib-dropdown] {
                float: left
            }
            .search_ddl_head{
                margin:0 0 0;
            }
            .button-ddl-head{
                width: 173px;
                background-color:$support_color_light_one;
            }
            .btn,
            input[type=text] {
                border-radius: 0px;
                height: 40px;
            }
            .btn-primary{
                background-color:$support_color_primary;
                border-color:$support_color_primary;
            }
            ul {
                li {
                    a {
                        color: $color_extreme_two;
                    }
                }
            }
        }
        &.bottom {
            height: 30px;
            padding-top: 10px;
            ul {
                margin-left: -6px;
                height: 30px;
                li {
                    height: 30px;
                    a {
                        padding-top: 0px;
                        padding-bottom: 0px;
                        // color: $color_extreme_two;
                        color:$support_color_light_one;
                    }
                }
            }
        }
    }
    .navbar-header {
        /*@media(min-width:768px){
        width: 10%;
      }  */
        &.top {
            height: 100px;
        }
    }
    .category-menu {
        height: 40px;
        background-color: $category_menu_bg;
        .navbar-header {
            height: 30px;
            .navbar-brand {
                cursor: default;
                @media(max-width: 1024px) {
                    width: 106px;
                }
                img {
                    height: 0px;                    
                }
            }
        }
    }
    .navbar-default {
        .navbar-nav {
            li {
                a { 
                    padding-top: 12px;
                    &:hover,
                    &:focus {
                        color: $accent_color;
                    }
                }
            }
        }
    }
    
    //css for sticky header
    .scrolled{
        /*-webkit-transition: height 0.25s;
        transition: height 0.25s;*/
        height: 70px;
        padding-top:2px;
        .nav-section{
            &.top{
                display: none;
            }
        }
        .category-menu{
            display: none;
        }
        .navbar-brand {
            padding: 0px;
            text-align: center;
            width: 160px;
            img{
                margin-top: 5px;
                margin-left: 50px;
                margin-right: 20px;
                width: 65px;
                //content:url($website_logo);
            }
            p{
                margin: 0px 0 0 5px;
                font-size: 10px; 
                color: $color_extreme_two;
                font-weight: 500
            }
        }
        .typeahead-popup{
            top:50px !important;
        }
        .search-bar{
            margin-top: 10px;
        }
        .navbar-header{
            &.top{
                height: 70px;
            }
        }
    }
}
