<div>
  <div data-ng-class="part.ymmInterTab2.length!==0?'col-md-6':'col-md-12'">
    <table class="table">
      <thead>
        <tr>
          <th>Name</th>
          <th>Part Number</th>
          <th>Type</th>
        </tr>
      </thead>
      <tbody>
        <tr data-ng-repeat="ymm in part.ymmInterTab1.slice((part.partData.interchanges.currentPage-1)*part.partData.interchanges.pageLength,part.partData.interchanges.currentPage*part.partData.interchanges.pageLength-1)">
          <td data-ng-bind="ymm.name"></td>
          <td data-ng-bind="ymm.partNumber"></td>
          <td data-ng-bind="ymm.interchangeType"></td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="col-md-6" data-ng-if="part.ymmInterTab2.length!==0">
    <table class="table">
      <thead>
        <tr>
          <th>Name</th>
          <th>Part Number</th>
          <th>Type</th>
        </tr>
      </thead>
      <tbody>
        <tr data-ng-repeat="ymm in part.ymmInterTab2.slice((part.partData.interchanges.currentPage-1)*part.partData.interchanges.pageLength,part.partData.interchanges.currentPage*part.partData.interchanges.pageLength-1)">
          <td data-ng-bind="ymm.name"></td>
          <td data-ng-bind="ymm.partNumber"></td>
          <td data-ng-bind="ymm.interchangeType"></td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="text-center">
    <uib-pagination  data-ng-if="part.partData.interchanges.showPagination" total-items="part.partData.interchanges.totalPages" ng-model="part.partData.interchanges.currentPage" max-size="part.partData.interchanges.maxSize"
      class="pagination-sm" boundary-links="true" rotate="false" ng-change="part.partData.interchanges.pageChanged()" previous-text="&lsaquo;"
      next-text="&rsaquo;"></uib-pagination>
    <!--<uib-pagination total-items="" ng-model="part.partData.interchanges.currentPage" boundary-links="true" ng-change="part.partData.interchanges.pageChanged()" previous-text="&lsaquo;" next-text="&rsaquo;" force-ellipses="true" boundary-link-numbers="true"></uib-pagination>-->
  </div>
</div>