.partDetails{
	//st:shaifali code
  .breadcrumb-section{
  	margin:0px !important;
  	.breadcrumb{
  		padding:10px 20px;
  		background-color: white;
  		border-radius: 0px;
  		li + li:before{
	  		content: ": ";
	    	padding: 0 5px;
	    	
	    	
  		}
  		li a{
  			color: #000;
  			font-size: 14px;
  			font-weight: 600;
  			&:hover,
  			&:focus{
				text-decoration :none
  			}
  		}
  		li.active a{
  			
  				color: #0093c6;
  				font-size: 14px;
  				font-weight: 600;
  		}
  	}
  }
  .pannel-default{
  	border-color: none;
  }
  //en shaifali code
  .panel, .thumbnail{
    border-radius: 0px;
  }
  .other-images{
    .thumbnail{
      height: 70px;
    }
  }
}
/* shaifali code*/
.catalog a {
	color:#0093c6;
	font-size: 13px;
	&:hover, &:focus{
		color:#0093c6;
		text-decoration: none	
	}
}
.part a  {
	color:#0093c6;
	font-size: 13px;
	&:hover, &:focus{
		color:#0093c6;
		text-decoration: none		
	}
	
}
.partlist a  {
	color:#0093c6;
	font-size: 13px;
	&:hover, &:focus{
		color:#0093c6;
		text-decoration: none		
	}
	
}  
div.Warranty-Matrix a{
	color:#0093c6 !important;
	font-size: 13px;
	text-decoration: none !important;
	&:hover{
		text-decoration: none !important;
	}	
}
span.readmore a{
		color:#0093c6 !important;
		font-size: 13px;
		text-decoration: none !important;
		&:hover{
			text-decoration: none !important;
		}		
}
.Answered-by a{
	color:#0093c6 !important;
	text-decoration: none !important;
	&:hover{
		text-decoration: none !important;
	}		
}
// .pannel .pannel-body .row .wishlist .btn-primary{
	
// 	background-color: #0093c6 !important;
// 	}

i.fa-1x{
	font-size: 18px;
}

/* end shaifali code*/

.pannel 
.partDetails header{
padding-bottom:10px;
margin-bottom:10px;
}

.partDetails h4{
padding-bottom:10px;
}
//where it used?
.partDetails .reducePaddingRt{
	padding-right:0px;
}

.partDetails .elearn span{
	padding-left:5px;
	
}


div.catalog:before {
   background-image:url('/images/icon_download.jpg') !important;
	background-repeat:no-repeat ;
	content:"" !important;
   display: block;
   width: 24px;
   height: 20px;
}


div.part:before {
   background-image:url('/images/icon_play.jpg') !important;
	background-repeat:no-repeat ;
	content:"" !important;
   display: block;
   width: 24px;
   height: 20px;
}



div.partlist:before {
   background-image:url('/images/icon_globe.jpg') !important;
	background-repeat:no-repeat ;
	content:"" !important;
   display: block;
   width: 24px;
   height: 20px;
}


div.elearn p{
	margin:0px !important;
}

div.elearn .row div.catalog,div.part,div.partlist{
padding-bottom:10px;
}

div.feature{
	padding: 20px 0;
}
div.feature img{
	float: left;
	margin: 0 20px 0 0;
	width:62px;
	height:30px;
}
div.feature 
	p{
		margin-top: 0;
		a{	
			color:#0093c6;
			font-size:12px;
			text-decoration: none;
			&:hover, &:focus{
			color:#0093c6;
			text-decoration: none
		}
	}
	
}

div.poster{
	height:300px;
	background-image:url('/images/machine_enlarged.jpg');
	background-repeat:no-repeat;
	background-position:right center;
}
// again part detail nested one and where it has used ?
div.partDetails  div#wrap {
   width:400px;
   margin:0 auto;
}
div.partDetails   div#left_col {
   float:left;
   width:200px;
}
div.partDetails  div#right_col {
   float:right;
   width:200px;
}

 .carousel-inner > .item > img,
  .carousel-inner > .item > a > img {
      width: 70%;
      margin: auto;
  }
  
  .pairCarousel label{
		font-size:12px;
		background-color:#eff0f1;
		font-weight:normal;
		color:#64b1d4;
		position:absolute;
		bottom:0px;
		margin-bottom:0px;
		padding:10px 5px;
  }
  
   .pairCarousel .thumbnail{
		padding:0px ;
		height:190px;
		position:relative;
  }
  
  //where it has used?
  .carousal-control.left ,.carousal-control.right{
  background-image:none !important; 
      width: 50px;
    height: 50px;
    background-color: #333333;
    top: 40%;

  }
  
  
    
  .carouselNav .left ,.carouselNav .right{
  background-image:none !important; 
      width: 40px;
    height: 40px;
    background-color: #333333;
    top: 40%;
  }
  
  .carouselNav .left {
  left:30px;
  }
  
  .carouselNav .right {
  right:7px !important;
  }
  //compleate

 .partDetails .bottom {
    border-bottom: 1px solid #ccc;
}

.bomDetails tr:nth-child(even) {
    background-color: #eaeaea;
}
.bomDetails tr:nth-child(odd) {
    background-color: #fafafa;
}


.partDetails table{
	width:100%;
	padding:0px;
}

label.partDesc {
	font-weight:normal;
	font-size:14px;
	width:100%;

}

label.partDetailsTabDesc {
	padding-top:15px;
	font-weight:bold;
	font-size:15px;
	width:100%;

}

.resetPadding {
	padding:0px !important;
}
.partDetails table {
	line-height:25px !important;
}

.partDetails table tr {
	line-height:25px !important;
}

.partDetails table tr td{
	padding-top:0px !important;
	padding-bottom:0px !important;
	padding-left: 10px;
	margin:0px important;
	line-height:25px !important;
	a{	
		color:#0093c6 !important;
		font-size:12px !important;
		text-decoration: none;
		&:hover,
		&:focus{
			color:#0093c6;
			text-decoration: none
		}
	}
}
.partDetails tbody tr:nth-child(even) {
    background-color: #fafafa;
}

.partDetails  tbody tr:nth-child(odd) {
    background-color: #eaeaea;
}



.inner-addon {
  position: relative;
}

/* style glyph */
.inner-addon .glyphicon {
  position: absolute;
  padding: 10px;
  pointer-events: none;
}

/* align glyph */
.left-addon .glyphicon  { left:  0px;}
.right-addon .glyphicon { right: 0px;
	    border-left: 1px solid #ccc;
}

/* add padding  */
.left-addon input  { padding-left:  30px; }
.right-addon input { padding-right: 30px; }

.pannel .warranty .panel-body{
padding:0px;
}



.warranty h5{
	font-size:15px;
	font-weight:bold;
}
.extraLeft{
	padding:8px;
}

.section-title{
font-size:18px;
padding-bottom: 9px;
font-weight:bold;
}
div.comment {
padding:15px;
}
div.comment .section-title{
	font-size:16px;
font-weight:bold;
}

.partResultsBM ul {
	margin:0px;
	padding:0px;
	background-color:#fafafa;
}

.partResultsBM ul li{
	display:inline-block;
	// background-color:#fafafa;
	line-height:25px;
	text-align:center;
	font-size:12x;
	width:32%;
	padding-left:10px;
	border-right:1px solid #eee;
	padding-top:3px;
	padding-bottom:3px;
}

.partResultsBM ul li a{
	// color:#34acd1;
	color: #0093C6;
    font-size: 13px;
    &:hover, &:focus{
    	text-decoration: none;
    	color: #0093C6;
    }
}

.partResultsBM ul li:last-child {
	border-right:none;
}