<div class="partDetails">
  <!--<div class="breadcrumb-section">
    <ol class="breadcrumb">
      <li data-ng-repeat="category in part.partData.categories"><a href="#">{{category}} </a></li>
      <li class="active"><a href="#">{{part.partData.partNumber}}</a></li>
    </ol>
  </div>-->
  <bread-crumb categories="part.partData.categories" part-no="{{part.partData.partNumber}}"></bread-crumb>
  <div class="panel part-panel">
    <!--<div class="panel-heading ">
      <header class="section-title bottom">
        {{part.partData.partNumber}},&nbsp;{{part.partData.partDesc}}
      </header>
    </div>-->
    <div class="panel-body">
      <div class="row top-section-row">
        <div data-ng-class="part.showThumbNailsSection()?'col-md-1':'col-md-0'">
          <!--{{part.thumbs}}-->
          <div class="custom-thumbnail" data-ng-if="thumb.show" data-ng-class="part.isThumbNailActive(thumb)?'active-thumb':'inactive-thumb'" data-ng-repeat="thumb in part.thumbs">
            <img ng-src="http://{{thumb.fileName}}" alt="" data-thumb="{{thumb}}" data-ng-class="part.isThumbNailActive(thumb)?'':'opaque'" data-ng-click="part.changeActiveImage(thumb.fileName)">
          </div>
        </div>
        <div class="col-md-3">
          <div class="custom">
            <div class="">
              <div class="">
                <div id="active-pic">
                  <a href="#" class="">
                    <!-- <img src="assets/images/part-details/machine_main.jpg" alt="125x125" zoom-index="5" lens-dimensions="{{part.lensDimensions}}"> -->
                    <!--<img src="assets/images/part-details/machine_main.jpg" alt="125x125" >-->
                    <image-zoom ng-src="{{part.activeThumb.url}}" show-zoom-section="{{part.activeThumb.zoom}}" zoom-index="5" lens-dimensions="{{part.lensDimensions}}" container-dimensions="{{part.containerDimensions}}"></image-zoom>
                  </a>
                </div>
              </div>
            </div>
            <div data-ng-hide="part.hideForNow" class="row other-images">
              <div class="col-sm-3">
                <div class="">
                  <a href="#" class="thumbnail">
                    <img src="assets/images/part-details/machine1.jpg" alt="125x125">
                  </a>
                </div>
              </div>
              <div class="col-sm-3">
                <div class="">
                  <a href="#" class="thumbnail">
                    <img src="assets/images/part-details/machine2.jpg" alt="125x125">
                  </a>
                </div>
              </div>
              <div class="col-sm-3">
                <div class="">
                  <a href="#" class="thumbnail">
                    <img src="assets/images/part-details/machine3.jpg" alt="125x125">
                  </a>
                </div>
              </div>
              <div class="col-sm-3">
                <div class="">
                  <a href="#" class="thumbnail">
                    <img src="assets/images/part-details/machine3.jpg" alt="125x125">
                  </a>
                </div>
              </div>
            </div>
            <div class="panel panel-default elearn" data-ng-hide="part.hideForNow">
              <div class="panel-body">
                <div class="row">
                  <div class="col-sm-12">
                    <h4 class="section-title bottom">E Learning</br>
                    </h4>
                    </hr>
                    <div class="catalog" data-ng-hide="part.hideForNow">
                      <img src="/assets/images/part-details/icon_download.jpg" alt="">

                      <p><a href="#">Part Catalog</a></p>
                      <p><a href="#">Service Manual</a></p>
                    </div>
                    <div class="part" data-ng-hide="part.hideForNow">
                      <img src="/assets/images/part-details/icon_play.jpg" alt="">
                      <p><a href="#">Part Installation</a></p>
                      <p><a href="#">Part Spec</a></p>
                    </div>
                    <div class="partlist" data-ng-hide="part.hideForNow">
                      <img src="/assets/images/part-details/icon_globe.jpg" alt="">
                      <p><a href="#">Illustrated Part List Dana</a></p>
                      <p><a href="#">Spicer Drive Axles S110 Illustrated Part List</a></p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div data-ng-class="part.showThumbNailsSection()?'col-md-5':'col-md-6'">
          <div class="withoutBorder">
            <div class="panel panel-default elearn" style="border:none">
              <div class="panel-body resetPadding">
                <div class='poster' style="display:none"></div>
                <div class='partDetails'>
                  <header class="section-title part-name-title">
                    {{part.partData.partNumber}},&nbsp;{{part.partData.partDesc}}
                  </header>
                  <label class="partDetailsTabDesc">Description</label>
                  <label data-ng-if="part.partData.longDesc" class="partDesc" data-ng-bind="part.partData.longDesc">                    
                  </label>
                  <!--<label data-ng-if="!part.partData.longDesc" class="partDesc">
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.                    
                  </label>-->
                  


                  <!--<label data-ng-if="part.hasSpecification(part.partData.attrs)" class="partDetailsTabDesc">Specification</label>
                  <table class="table">
                    <tbody>
                      <tr data-ng-repeat="(key,val) in part.partData.attrs">
                        <td>{{key}}</td>
                        <td>{{val}}</td>
                      </tr>
                    </tbody>
                  </table>-->
                  <!--<div class="btn-group scroll-to-btns">
                    <button class="btn" data-ng-click="part.goToSection('interchanges')" data-ng-if="part.hasInterchanges(part.partData.interchanges)">Interchanges</button>
                    <button class="btn" data-ng-click="part.goToSection('compatibility')" data-ng-if="part.hasCompatibility(part.partData.apps)">Compatibility Table</button>
                    <button class="btn" data-ng-click="part.goToSection('exploded-section')" data-ng-if="false">Exploded View</button>
                    <button class="btn" data-ng-click="part.goToSection('bom-table')" data-ng-if="part.partData.bom.length>0">BOM Components</button>
                  </div>-->
                  <div class="data-sheet">
                    <!--<div class="task">
                      <img src="assets/images/icon-download-PDF.GIF" alt="">
                      <a href="#">Download Part DataSheet</a>
                    </div>-->
                    <div class="task">
                      <img src="/assets/images/blue-envelope.png" alt="">
                      <!--<i class="fa fa-envelope"></i>-->
                      <a href="#">Email</a>
                    </div>
                    <!--<div class="task">
                      <i class="fa fa-print"></i>
                      <a href="#">Print</a>
                    </div>-->
                  </div>
                  <!--<div class="panel learn partResultsBM">
                    <ul>
                      <li data-ng-if="part.hasCompatibility(part.partData.apps)"><a href="#">Compatibility Table</a></li>
                      <li><a href="#">Exploded View</a></li>
                      <li><a href="#">BOM Components</a></li>
                    </ul>
                  </div>-->
                  <div data-ng-hide="part.hideForNow" class="panel">
                    <img src="assets/images/part-details/icon_partDetails.jpg" />
                    <ul class="lmsHub">
                      <li>Industry Leading hub system technology</li>
                      <li>Reduced maintenance and improved liability</li>
                    </ul>
                  </div>
                  <div class="partDetails bottom addTopSpacing"></div>
                  <div class="panel  elearn" data-ng-hide="part.hideForNow">
                    <div class="panel-body" data-ng-hide="part.hideForNow">
                      <span><b>There is a advanced part of this model</b></span>
                      <div class="feature"> <img src="assets/images/part-details/machine_advanced.jpg" alt="" width="100" height="100" />
                        <p><a href="#">202BN103-25, Heavy Axle, Steer Axle, Steer Axle Assy
                                                E1202I (69 Kpi)</a> </p>
                      </div>
                    </div>
                  </div>

                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="">
            <div class="panel  elearn well warranty add-to-order pull-right">
              <div class="panel-body ">
                <div class="row">
                  <h5>ADD TO ORDER LIST</h5>
                  <input type="text" placeholder="QTY" /> <button class="btn">Add</button>
                  <!--<div class="dropdown text-center wishlist">
                    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Add to Order List
                      <span class="caret"></span></button>
                    <ul class="dropdown-menu">
                      <li><a href="#">HTML</a></li>
                      <li><a href="#">CSS</a></li>
                      <li><a href="#">JavaScript</a></li>
                    </ul>
                  </div>-->
                </div>
              </div>
            </div>
          </div>
          <div class="warranty pull-right" data-ng-hide="part.hideForNow">
            <div class="panel  elearn well">
              <div class="panel-body">
                <div class="row">
                  <div class="Warranty-Matrix">
                    <h5>WARRANTY:</h5>
                    <div data-ng-hide="part.hideForNow">
                      3 years / 350,000 miles (560,000 kilometers)
                    </div>
                    <br/>
                    <a href="#">See Warranty Matrix</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div ng-hide="true" class="row top-section-row">
        <label class="partDetailsTabDesc">Model Diagram & Specifications</label>
        <div class="container-fluid spec-n-model">
          <div class="col-md-5 spec-section">
            <table class="table">
              <tbody>
                <tr data-ng-repeat="(key,val) in part.partData.attrs">
                  <td>{{key}}</td>
                  <td>{{val}}</td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="col-md-7 model-section">
            <img src="{{part.partData.modelDiagram}}" alt="">
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--/row-->
  <!--/row-->
  <!-- thumbnail for PAIRS With -->
  <div data-ng-hide="part.hideForNow" class="row pairCarousel">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <div class="panel panel-default part-panel">
        <div class="panel-header top-bottom-gap">
          <div class="section-title bottom extraLeft">Pairs with </hr>
          </div>
        </div>
        <div class="panel-body" data-ng-hide="part.hideForNow">
          <div class="col-lg-2 col-sm-2">
            <div class="thumbnail">
              <a href="#" title="Image 1"><img src="assets/images/part-details/machine_pair1.jpg" class="img-responsive"></a>
              <label class="">
                Spicer, Steer Axle, E1002I, E-series, 10,000lbs, Heavy Duty KingPin Joint, 2-Drawkeys,...
              </label>
            </div>
          </div>
          <div class="col-lg-2 col-sm-2">
            <div class="thumbnail">
              <a href="#" title="Image 1"><img src="assets/images/part-details/machine_pair1.jpg" class="img-responsive"></a>
              <label class="">
                Spicer, Steer Axle, E1002I, E-series, 10,000lbs, Heavy Duty KingPin Joint, 2-Drawkeys,...
              </label>
            </div>
          </div>
          <div class="col-lg-2 col-sm-2">
            <div class="thumbnail">
              <a href="#" title="Image 1"><img src="assets/images/part-details/machine_pair6.jpg" class="img-responsive"></a>
              <label class="">
                Spicer, Steer Axle, E1002I, E-series, 10,000lbs, Heavy Duty KingPin Joint, 2-Drawkeys,...
              </label>
            </div>
          </div>
          <div class="col-lg-2 col-sm-2">
            <div class="thumbnail">
              <a href="#" title="Image 1"><img src="assets/images/part-details/machine_pair3.jpg" class="img-responsive"></a>
              <label class="">
                Spicer, Steer Axle, E1002I, E-series, 10,000lbs, Heavy Duty KingPin Joint, 2-Drawkeys,...
              </label>
            </div>
          </div>
          <div class="col-lg-2 col-sm-2">
            <div class="thumbnail">
              <a href="#" title="Image 1"><img src="assets/images/part-details/machine_pair4.jpg" class="img-responsive"></a>
              <label class="">
                Spicer, Steer Axle, E1002I, E-series, 10,000lbs, Heavy Duty KingPin Joint, 2-Drawkeys,...
              </label>
            </div>
          </div>
          <div class="col-lg-2 col-sm-2">
            <div class="thumbnail">
              <a href="#" title="Image 1"><img src="assets/images/part-details/machine_pair5.jpg" class="img-responsive"></a>
              <label class="">
                Spicer, Steer Axle, E1002I, E-series, 10,000lbs, Heavy Duty KingPin Joint, 2-Drawkeys,...
              </label>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- thumbnail You also bought -->
  <!-- thumbnail for PAIRS With -->
  <div data-ng-hide="part.hideForNow" class="row pairCarousel">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <div class="panel panel-default part-panel">
        <div class="panel-header top-bottom-gap">
          <div class="section-title bottom extraLeft">You Also Bought</hr>
          </div>
        </div>
        <div class="panel-body" data-ng-hide="part.hideForNow">
          <div class="col-lg-2 col-sm-2">
            <div class="thumbnail">
              <a href="#" title="Image 1"><img src="assets/images/part-details/machine_pair1.jpg" class="img-responsive"></a>
              <label class="">
                Spicer, Steer Axle, E1002I, E-series, 10,000lbs, Heavy Duty KingPin Joint, 2-Drawkeys,...
              </label>
            </div>
          </div>
          <div class="col-lg-2 col-sm-2">
            <div class="thumbnail">
              <a href="#" title="Image 1"><img src="assets/images/part-details/machine_pair1.jpg" class="img-responsive"></a>
              <label class="">
                Spicer, Steer Axle, E1002I, E-series, 10,000lbs, Heavy Duty KingPin Joint, 2-Drawkeys,...
              </label>
            </div>
          </div>
          <div class="col-lg-2 col-sm-2">
            <div class="thumbnail">
              <a href="#" title="Image 1"><img src="assets/images/part-details/machine_pair6.jpg" class="img-responsive"></a>
              <label class="">
                Spicer, Steer Axle, E1002I, E-series, 10,000lbs, Heavy Duty KingPin Joint, 2-Drawkeys,...
              </label>
            </div>
          </div>
          <div class="col-lg-2 col-sm-2">
            <div class="thumbnail">
              <a href="#" title="Image 1"><img src="assets/images/part-details/machine_pair3.jpg" class="img-responsive"></a>
              <label class="">
                Spicer, Steer Axle, E1002I, E-series, 10,000lbs, Heavy Duty KingPin Joint, 2-Drawkeys,...
              </label>
            </div>
          </div>
          <div class="col-lg-2 col-sm-2">
            <div class="thumbnail">
              <a href="#" title="Image 1"><img src="assets/images/part-details/machine_pair4.jpg" class="img-responsive"></a>
              <label class="">
                Spicer, Steer Axle, E1002I, E-series, 10,000lbs, Heavy Duty KingPin Joint, 2-Drawkeys,...
              </label>
            </div>
          </div>
          <div class="col-lg-2 col-sm-2">
            <div class="thumbnail">
              <a href="#" title="Image 1"><img src="assets/images/part-details/machine_pair5.jpg" class="img-responsive"></a>
              <label class="">
                Spicer, Steer Axle, E1002I, E-series, 10,000lbs, Heavy Duty KingPin Joint, 2-Drawkeys,...
              </label>
            </div>
          </div>
        </div>
      </div>
      <div data-ng-hide="part.hideForNow" class="carouselNav"><a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
        <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a></div>
    </div>
  </div>
  <div data-ng-hide="part.hideForNow" class="">
    <div class="panel panel-default">
      <div class="panel-body part-panel">
        <div class="section-title bottom top-bottom-gap">Identify your part</hr>
        </div>
        <img data-ng-hide="part.hideForNow" src="assets/images/part-details/machine_partIdentification.jpg" class="img-responsive"></a>
      </div>
    </div>
  </div>

  <uib-tabset class="tabset" active="active" justified="false">
    <!--<uib-tab class="tab" index="0" heading="Static title">Static content</uib-tab>
    <uib-tab index="$index + 1" ng-repeat="tab in tabs" heading="{{tab.title}}" disable="tab.disabled">
      
    </uib-tab>-->
    <uib-tab class="tab" index="1">
      <uib-tab-heading>
        Specifications & Model Diagram
      </uib-tab-heading>
      <div class="container-fluid spec-n-model">
        <div class="col-md-5 spec-section">
          <table class="table">
            <tbody>
              <tr data-ng-repeat="(key,val) in part.partData.attrs">
                <td>{{key}}</td>
                <td>{{val}}</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="col-md-7 model-section">
          <img src="{{part.partData.modelDiagram}}" alt="">
        </div>
      </div>
      <!--<div class="panel panel-default">ABCD</div>-->
    </uib-tab>
    <uib-tab class="tab" index="2" data-ng-if="part.hasCompatibility(part.partData.apps)">
      <uib-tab-heading>
        Compatible with Applications
      </uib-tab-heading>
      <div class="container-fluid">
        <div  data-ng-class="part.ymmCompatibilityTab2.length!==0?'col-md-6':'col-md-12'">
          <table class="table">
            <thead>
              <tr>
                <th>Year</th>
                <th>Make</th>
                <th>Model</th>
              </tr>
            </thead>
            <tbody>
              <tr data-ng-repeat="ymm in part.ymmCompatibilityTab1">
                <td data-ng-bind="ymm.year"></td>
                <td data-ng-bind="ymm.make"></td>
                <td data-ng-bind="ymm.model"></td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="col-md-6" data-ng-if="part.ymmInterTab2.length!==0">
          <table class="table">
            <thead>
              <tr>
                <th>Year</th>
                <th>Make</th>
                <th>Model</th>
              </tr>
            </thead>
            <tbody>
              <tr data-ng-repeat="ymm in part.ymmCompatibilityTab2">
                <td data-ng-bind="ymm.year"></td>
                <td data-ng-bind="ymm.make"></td>
                <td data-ng-bind="ymm.model"></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </uib-tab>
    <uib-tab class="tab" index="3" data-ng-if="part.partData.bom.length>0">
      <uib-tab-heading>
        Exploded View & BOM
      </uib-tab-heading>
      <div class="container-fluid">
        <table class="table">
          <thead>
            <tr>
              <th>BOM No</th>
              <th>Level</th>
              <th>Component Name</th>
              <th>Quantity</th>
            </tr>
          </thead>
          <tbody>
            <tr data-ng-repeat="bom in part.partData.bom">
              <td data-ng-bind="bom.no"></td>
              <td data-ng-bind="bom.level"></td>
              <td>
                <a href="/part/partnum/?val={{bom.partNumber}}" data-ng-bind="bom.partNumber"></a>
              </td>
              <td data-ng-bind="bom.quantity"></td>
            </tr>
          </tbody>
        </table>
        <img data-ng-hide="part.hideForNow" src="assets/images/part-details/machine_exploded.jpg" class="img-responsive" />
      </div>
    </uib-tab>
    <uib-tab class="tab" index="4" data-ng-if="part.hasInterchanges(part.partData.interchanges)">
      <uib-tab-heading>
        Interchanges
      </uib-tab-heading>
      <div class="container-fluid" data-ng-include="'app/part/interchanges-table.html'">        
      </div>
    </uib-tab>
  </uib-tabset>

  <div ng-hide="true" id="interchanges" class="comp-table" data-ng-if="part.hasInterchanges(part.partData.interchanges)">
    <div class="panel panel-default">
      <div class="panel-body part-panel">
        <div class="section-title bottom top-bottom-gap">Interchanges</hr>
        </div>
        <div data-ng-include="'app/part/interchanges-table.html'"></div>

      </div>
    </div>
  </div>

  <div ng-hide="true" id="compatibility" class="comp-table" data-ng-if="part.hasCompatibility(part.partData.apps)">
    <div class="panel panel-default">
      <div class="panel-body part-panel">
        <div class="section-title bottom top-bottom-gap">Compatible With</hr>
        </div>
        <div class="col-md-6">
          <table class="table">
            <thead>
              <tr>
                <th>Year</th>
                <th>Make</th>
                <th>Model</th>
              </tr>
            </thead>
            <tbody>
              <tr data-ng-repeat="ymm in part.ymmCompatibilityTab1">
                <td data-ng-bind="ymm.year"></td>
                <td data-ng-bind="ymm.make"></td>
                <td data-ng-bind="ymm.model"></td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="col-md-6">
          <table class="table">
            <thead>
              <tr>
                <th>Year</th>
                <th>Make</th>
                <th>Model</th>
              </tr>
            </thead>
            <tbody>
              <tr data-ng-repeat="ymm in part.ymmCompatibilityTab2">
                <td data-ng-bind="ymm.year"></td>
                <td data-ng-bind="ymm.make"></td>
                <td data-ng-bind="ymm.model"></td>
              </tr>
            </tbody>
          </table>
        </div>

      </div>
    </div>
  </div>

  <div data-ng-hide="part.hideForNow" class="" id="exploded-section">
    <div class="panel panel-default">
      <div class="panel-body part-panel">
        <div class="row bottom top-bottom-gap">
          <div class="col-lg-6 col-xs-6  section-title ">Exploded View</div>
          <div class="col-lg-6 col-xs-6">
            <div class="pull-right">
              <div class="inner-addon right-addon">
                <i class="glyphicon glyphicon-search"></i>
                <input type="text" class="form-control" placeholder="Search" />
              </div>
            </div>
          </div>
        </div>
        <img data-ng-hide="part.hideForNow" src="assets/images/part-details/machine_exploded.jpg" class="img-responsive" />
      </div>
    </div>
  </div>
  <div ng-hide="true" id="bom-table" data-ng-if="part.partData.bom.length>0" class="">
    <div class="panel panel-default">
      <div class="panel-body">
        <table class="table">
          <thead>
            <tr>
              <th>BOM No</th>
              <th>Level</th>
              <th>Component Name</th>
              <th>Quantity</th>
            </tr>
          </thead>
          <tbody>
            <tr data-ng-repeat="bom in part.partData.bom">
              <td data-ng-bind="bom.no"></td>
              <td data-ng-bind="bom.level"></td>
              <td>
                <a href="/part/partnum/?val={{bom.partNumber}}" data-ng-bind="bom.partNumber"></a>
              </td>
              <td data-ng-bind="bom.quantity"></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div data-ng-hide="part.hideForNow" class="">
    <div class="panel panel-default">
      <div class="panel-body part-panel">
        <div class="row bottom top-bottom-gap">
          <div class="col-lg-6 col-xs-6 section-title">Popular Discussions</div>
          <div class="col-lg-6 col-xs-6">
            <div class="col-lg-2 col-lg-push-10 col-md-2 col-md-push-0 col-sm-2 col-sm-push-0 col-xs-2 col-xs-push-0">
              <div class="pull-right viewAll" data-ng-hide="part.hideForNow"><a href="#">View All (31)</a></div>
            </div>
          </div>
        </div>
        <div class="row" data-ng-hide="part.hideForNow">
          <div class="col-md-7">
            <div class="comment">
              <p class="section-title">Is this the right choice for my on-highway fleet? </p>
              <p>Dana/Spicer has always had a good product to my knowledge and usually backed it up better on parts/warranty.
                BTW, noticed one of TMC's new trucks the other day..... white in color. Had to take the second look
                <span class="readmore"><a>Read More...</a></span>
              </p>
              <p class="Answered-by">Answered by <a href="#">blackw900</a>, 7 days ago</p>
            </div>
            <div class="comment">
              <p class="section-title">Is this the right choice for my on-highway fleet? </p>
              <p>Dana/Spicer has always had a good product to my knowledge and usually backed it up better on parts/warranty.
                BTW, noticed one of TMC's new trucks the other day..... white in color. Had to take the second look
                <span class="readmore"><a>Read More...</a></span>
              </p>
              <p class="Answered-by">Answered by <a href="#">blackw900</a>, 7 days ago</p>
            </div>
          </div>
          <div class="col-md-5"></div>

        </div>
      </div>
    </div>
  </div>
</div>