<!--Author : Rohit Rane-->
<div class="bread-crumb" data-ng-if="!bc.isBomPart">
  <span data-ng-if="bc.pageState==='searchResults'" class="resultBar">
    <span ng-show="bc.showSubsetInfo(bc.totalResults,bc.resultSetLimit)">{{bc.pageStart}}-<span data-ng-if="bc.pageEnd<bc.totalResults">{{bc.pageEnd}}</span><span data-ng-if="bc.pageEnd>bc.totalResults">{{bc.totalResults}}</span> of </span> {{bc.totalResults}}
  results for<span class="bold">&nbsp;<span data-ng-if="bc.showAll" data-ng-click="bc.search()" data-ng-class="{'clickable':bc.isClickable()}">All&nbsp;:&nbsp;</span><span data-ng-repeat="cat in bc.cats track by $index"
    data-ng-show="cat.id" data-ng-click="bc.search($index)" data-ng-class="{'clickable':bc.isClickable($index)}">{{cat['name']}}<span data-ng-if="bc.showColon($index,bc.cats)">&nbsp;:&nbsp;</span></span><span data-ng-if="bc.ymm">{{bc.ymm.year}}&nbsp;{{bc.ymm.make}}&nbsp;{{bc.ymm.model}}<span data-ng-if="bc.searchString">&nbsp;:&nbsp;</span></span>
  <a data-ng-if="bc.searchString"><span>"</span>{{bc.searchString}}<span>"</span></a>
  </span>
  </span>
  <span data-ng-if="bc.pageState==='part'" class="resultBar">
    <span data-ng-if="bc.showBackButton">
    <span  class="back-section" data-ng-if="!bc.showPathCats" data-ng-click="bc.goToSearch()">
      <i class="fa fa-angle-left"></i>&nbsp;&nbsp;{{'BREADCRUMB.BACKSECTION' | translate}}<span data-ng-if="bc.searchString">&nbsp;{{'BREADCRUMB.FOR' | translate}}&nbsp;<a href="">"{{bc.searchString}}"</a></span>
     </span>
  <span data-ng-if="bc.showPathCats" class="bold">&nbsp;<span data-ng-if="bc.showAll" data-ng-click="bc.search()" data-ng-class="{'clickable':bc.isClickable()}">All&nbsp;:&nbsp;</span><span data-ng-repeat="cat in bc.cats track by $index"
    data-ng-show="cat" data-ng-click="bc.search($index)" data-ng-class="{'clickable':bc.isClickable($index)}">{{cat['name']}}<span data-ng-if="bc.showColon($index,bc.cats)">&nbsp;:&nbsp;</span></span><span data-ng-if="bc.ymm">{{bc.ymm.year}}&nbsp;{{bc.ymm.make}}&nbsp;{{bc.ymm.model}}<span data-ng-if="bc.searchString">&nbsp;:&nbsp;</span></span>
  <a data-ng-if="bc.searchString"><span>"</span>{{bc.searchString}}<span>"</span></a>
  </span>
  </span>
  <span data-ng-if="!bc.showBackButton">&nbsp;
        <span data-ng-repeat="category in bc.categories track by $index" data-ng-class="{'clickable':bc.isClickable($index,2)}" data-ng-click="bc.search($index,2)" class="bold">{{category.name}}&nbsp;:&nbsp;</span>
  <a href="#">{{bc.partNo}}</a>
  </span>

  </span>

  <span data-ng-if="bc.pageState==='searchResults'" class="dropdownBar">
  <span><strong>Sort By :&nbsp;</strong></span>
      <div class="btn-group" uib-dropdown is-open="status.isopen">
        <button id="single-button" type="button" class="btn btn-default" uib-dropdown-toggle ng-disabled="disabled">
                {{bc.sortItem}} <span class="caret"></span>
  </button>
  <ul class="pull-right" uib-dropdown-menu role="menu " aria-labelledby="single-button">
    <li role="menuitem" data-ng-click="bc.sort(action)">
      <a href="#" ng-click="bc.sortItem= sort.displayName; bc.sortAction(sort)" ng-model="bc.sortItem" ng-repeat="sort in bc.sortAttributes">{{sort.displayName}}</a>
    </li>
  </ul>
</div>
</span>


<div style="clear:fix "> </div>
</div>