 .part-card{
        background-color: $color_extreme_two;
        .result-card{
            .panel{
                border-radius: 0px !important;
                padding: 10px 15px 15px 15px;
                border: none;
                .col-md-6, .col-md-3{
                    padding: 0;
                }
                @media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
                    .panel-heading{
                         height: 30px !important;
                         padding: 5px 0px !important;
                         .name{
                            font-size: 10px !important;
                        }
                        .cart{
                            span{
                                margin: 0px 2px !important;
                            }
                            span:nth-child(1){
                                img{
                                    width: 30px !important;
                                }
                            }
                            span:nth-child(2){
                                padding: 0px 2px !important;
                                font-size: 10px !important;
                            }
                            .glyphicon-shopping-cart{
                                color: $accent_color;
                            }
                        }
                    }
                }
                .panel-heading{
                background: white !important;
                padding: 0px 0px;
                border-bottom: none;
                div{
                    .dispName{
                        display: inline-block;
                    }
                    .cart{
                        text-align: right;
                      span{
                            a{
                                cursor: pointer;
                            }
                            .shwQty{
                                input{
                                    width: 20%;
                                    height: 20px;
                                    text-align: center;
                                }
                                .btnAdd{
                                    background: #dbdbdb;
                                    font-size: 10px;
                                    padding: 3px;
                                    font-weight: bold;
                                    &:hover{
                                        cursor:pointer;
                                    }
                                }
                            }
                      }
                      /*span:nth-child(1){
                        font-weight: 600;
                        font-size: 12px;
                      }
                      span:nth-child(2){
                        border-left: 1px solid $support_color_light_one;
                        border-right: 1px solid $support_color_light_one;
                        padding: 0px 5px;
                        margin: 0px;
                        font-weight: 600;
                        font-size: 12px;
                      }
                        .glyphicon-shopping-cart{
                            color: $accent_color;
                        }*/
                    }
                }
                
                .interchange{
                    width: 150px;
                    background: black;
                    height: 20px;
                    display:table;
                    position: relative;
                    margin: -5px 0px 5px 10px;
                    span{
                        color: white;
                        font-weight: bold;
                        font-size: 11px;
                        display:table-cell;
                        vertical-align:middle;
                        text-align: center;
                        margin-left: 5px;
                    }
                    &:after{
                      content: "";
                      position: absolute;
                      right: 0;
                      bottom: 0;
                      width: 0;
                      height: 0;
                      border-right: 10px solid white;
                      border-top: 10px solid transparent;
                      border-bottom: 10px solid transparent;
                    }
                }
                
                
                .hrLine{
                    border: 1px solid #dbdbdb;
                    /*margin: -5px 5px 0px 30px;*/
                    margin: 10px 0px 0px;
                }
             }
             .panel-body{
                 padding: 15px 10px 0px 10px;
                 .col-md-3{
                    @media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
                        text-align: center !important;
                     }
                     img{
                         width: 160px;
                         height: 160px;
                     }
                 }
                 .rghtBorder{
                          /* border-right:1px solid #AAAAAA; */
                 }
                 .col-md-8{
                     @media only screen and (device-width: 768px) {
                         border-right: 0px;
                     }
                     @media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
                        border-right: 0px;
                     }
                     ul{
                         padding-left: 0px;
                       li{
                         display: inline-block;
                         // font-weight: bold;
                         // font-size: 13px;
                         font-weight: bold;
                         font-size: 14px;
                         a{
                           font-size: 9px;
                           &:hover{
                             cursor:pointer;
                             text-decoration: none;
                           }
                         }
                       }
                       li:nth-child(2){
                           float: right;
                       } 
                    }
                    table{
                        tr{
                            td{
                                font-size: 12px;
                                height: 25px;
                                vertical-align: middle;
                                padding: 0px 10px !important;
                                font-weight: 600;
                                line-height: 2.2;
                            }
                        }
                    }
                 }
                 .col-md-4{
                     p{
                         font-size: 10px;
                         color: $accent_color;
                         margin-top: 8px;
                         font-weight: bold;
                     }
                     ul{
                         padding-left: 10px;
                         li{
                             word-break: break-all;
                             font-size: 10px;
                             list-style: square;
                             font-weight: 600;
                             margin-top: 3px;
                         }
                     }
                 }
             }
          }
        }
        .first-row{
            height: 40px;
            padding: 10px;
            .name{
                font-size: 16px;
                color: $accent_color; 
            }
            .cart{
                ul{
                    float: right;
                    li{
                        padding: 0px 5px;
                        display: inline-block;
                        .glyphicon-shopping-cart{
                            color: $accent_color;
                        }
                    }
                    li:nth-child(2){
                        border-left: 1px solid #AAAAAA;
                        border-right: 1px solid #AAAAAA;
                    }
                }
            }
        }
        hr{
            margin: 0px !important;
        }
    }

    /* overriding the background of odd tr*/
    .table-striped > tbody > tr:nth-of-type(odd) {
        background-color: #eaeaea;
    }
    .table-striped > tbody > tr:nth-of-type(even) {
        background-color: #fafafa;
    }