/*Author : Rohit Rane*/

// global sass variables

$accent_color : #0099CC;
$color_extreme_one : black;
$color_extreme_two : white;
$support_color_dark_one : #222222;
$support_color_dark_two : #323232;
$support_color_light_one : #dbdbdb;
$support_color_light_two : #f0f0f0;
$support_color_light_blue_third: #119aca;
$support_color_dark_black_third: #404040;
$support_color_primary:#0093c6;

//mixins and extendable classes defined here 

.title{
    font-size:18px;
    font-weight: 500;
    color: $accent_color
}

.regular-text{
    font-weight: 400px;
    color: $color_extreme_one
}

.sub-title{
    @extend .regular-text;
    font-size: 13px;    
}

.tiny-text{
    font-size: 9px;
    line-height: 1
}


@import url(https://fonts.googleapis.com/css?family=Open+Sans);

body{
    @extend .regular-text;
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 12px;
}

.content{
  >*{
    padding-top: 140px;
  }
 
  
}
 #overlay{
    position: absolute;
    width: 100%; 
    height: 100%;
    top:0; left:0;
    background:rgba(0,0,0,0.6);
    opacity: 1;
    transition: all 1s;
    -webkit-transition: all 1s;
  }

.btn, input[type=text] {
  border-radius: 0px; 
}

.dummy-class{
    background-color: black;
}