#shareOrderlistModal {
    .modal-header {
        padding: 15px 15px 5px;
        border-top-left-radius: 3px;
        border-top-right-radius: 3px;
        border-bottom: 1px solid #e5e5e5;
        
        h4 {
            margin-top: 2px;
            margin-bottom: 4px;
            font-size: 16px;
            font-weight: 600;
        }
    }
    .bg-success {
            background-color: #f6fafe;
        }
    .modal-body {
        padding-top: 30px;
        padding-bottom: 50px;
        .glyphicon-ok-circle {
            color: green;
            margin-top: 10px;
            margin-bottom: 10px;
        }
    }
    .modal-footer {
        border-bottom-left-radius: 3px !important;
        border-bottom-right-radius: 3px !important;
    }
    .btn {
        color: white;
        font-size: 12px;
    }
    .btn-primary {
        border-radius: 0;
        background-color: #0093c6;
        border-color: transparent;
        color: white;
        padding:8px 40px;
        &:hover {
            border-color: transparent;
        }
        &:active,
        &:focus {
            outline: none;
            box-shadow: none;
            outline-offset: none;
        }
    }
}

.my-modal-popup {
    @media (min-width: 1280px) {
        .modal-dialog {
            margin-top: 200px;
        }
    }
}
