#shareOrderlistModal {
	.modal-wrapper{
		margin-top: auto;
	}
	.model-header{
		padding: 5px 15px 3px;
	}
    .btn {
        color: white;
        font-size: 12px;
    }
    .btn-primary {
        border-radius: 0;
        background-color: #0093c6;
        border-color: transparent;
        color: white;
    }
}
