<div id="sharepartPopup" class="modal-wrapper">
    <div class="modal-header bg-success">
        <div class="row">
            <div class="col-sm-9">
                <h4>Mail</h4>
                <p></p>
            </div>
            <div class="col-sm-3">
                
            </div>
        </div>
    </div>
    <div class="modal-body">
        <form class="form-horizontal" name="sharepart">
            <h4>From:</h4>
            <div class="form-group">
                <div class="col-md-12">
                    <label class="sr-only">Your Email ID's </label><span class="madatoryStar">*</span>
                    <input type="email" data-ng-model="email.from" name="fEmail" class="form-control" placeholder="Your Email ID's" required>
                    
                </div>
            </div>
            <h4>To:</h4>
            <div class="form-group">
                <div class="col-md-12">
                    <label class="sr-only">Email ID's</label><span class="madatoryStar">*</span>
                    <input id="toEmails" data-ng-model="email.to" type="email"  name="tEmail" class="form-control" placeholder="To Email ID's" required>
                    
                </div>
            </div>
        
    </div>
    <div class="modal-footer">
        <div class="row">
            <div class="col-md-6">
            </div>
            <div class="col-md-6">
                <button class="btn btn-primary" data-ng-click="email.send()" type="submit">Submit</button>
            </div>
        </div>
    </div>
    </form>
</div>
