<div  id="subcategories" data-ng-mouseenter="category.open=true" data-ng-mouseleave="categoryMenu.catLeave(category)">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="popover-content">
                <div class="sample">
                    <dl data-ng-repeat="child in category.children">
                        <dt>
                            <a href="">{{child.name|uppercase}}</a>
                        </dt>
                        <dd data-ng-repeat="gChild in child.children|limitTo:10">
                            <a href="">{{gChild.name}}</a>
                        </dd>
                    </dl>
                </div>
            </div>
        </div>
    </div>
</div>


         