<div id="subcategories" data-ng-mouseenter="category.open=true" data-ng-mouseleave="categoryMenu.catLeave(category)">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="popover-content">
                <div class="sample">
                    <!--<dl data-ng-repeat="child in category.children">-->
                    <span data-ng-repeat="child in category.children" id="cat_{{child.name}}">
                    <dl data-ng-repeat="gChildArr in child.displayChildren" data-ng-init="categoryMenu.setTop($index,child.name)" data-ng-if="gChildArr.length>0">
                        <dt data-ng-show="$index===0" id="cat_header_{{child.name}}">
                            <a right-click="categoryMenu.disableRightClick()" data-ng-click="categoryMenu.search(category, child, null, gChildArr)" href="">{{child.name|uppercase}}</a>
                        </dt> 
                        <hr ng-class="{'hrtag-first':$index===0, 'hrtag-rest':$index!==0}" id="{{child.name}}_col_{{$parent.$index}}">                       
                        <dd data-ng-repeat="gChild in gChildArr"  data-ng-class="{'first-row':$index===0}">
                            <a data-ng-click="categoryMenu.search(category, child, gChild)" right-click="categoryMenu.disableRightClick()" href="">{{gChild.name}}</a>
                        </dd>
                    </dl>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>