.null-other {
    margin-top: 35px;
    .cardsSection {
        div.catBlocks {
            // overflow: auto;
            .panel-box {
                width: 32%;
                min-height: 150px;
                float: left;
                margin-right: 1%;
                .catItems {
                    label:nth-child(1) {
                        font-size: 14px;
                        display:block;
                    }
                    label:nth-child(2) {
                        font-weight: 600;
                        font-size: 12px;
                        display:block;
                        color: $support_color_primary;
                        p {
                            font-weight: 600;
                            font-size: 12px;
                            color: $support_color_primary;
                            margin-bottom: 0px;
                            text-align: left;
                            a {
                                text-decoration: none;
                                color: $support_color_primary;
                                &:hover,
                                &:focus {
                                    color: $support_color_primary;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
