<form class="navbar-form navbar-left search-bar" role="search">
  <div class="form-group">
    <input type="text" class="form-control" data-ng-model="searchBar.search.searchString" 
    typeahead-on-select="searchBar.gotoPartDetails($item, $model, $label, $event)" uib-typeahead="result as result.partNumber+' '+result.lineDesc+' '+result.partDesc for result in searchBar.textTyped($viewValue)" 
    placeholder="Search by part number, product type, product line, keyword" typeahead-popup-template-url="app/components/header/search-bar/typeahead-popup.html" typeahead-template-url="{{searchBar.search.typeaheadTemplate}}"
    data-ng-focus="searchBar.focus()" data-ng-blur="searchBar.blur()">
  </div>
  <div class="form-group btn-group scope-selector" uib-dropdown>
    <button id="category-dd" type="button" class="btn" uib-dropdown-toggle data-ng-click="searchBar.scopeSelClicked()">
      <p class="search_ddl_head">{{searchBar.search.searchScope}} <span class="caret"></span></p>
    </button>
    <ul uib-dropdown-menu role="menu" aria-labelledby="category-dd">
      <li role="menuitem" data-ng-repeat="category in searchBar.search.categories" ng-click="searchBar.search.searchScope = category; searchBar.productDropDownClick()" data-ng-click="searchBar.search.searchScope = category"><a href="#">{{category}}</a></li>
      <li class="divider"></li>
      <li role="menuitem" data-ng-click="searchBar.search.searchScope = 'All'"><a href="#">All</a></li>
    </ul>
  </div>
  <a data-ng-click="searchBar.searchIconClick()"><button type="submit" class="btn btn-primary"><i class="glyphicon glyphicon-search"></i></button></a>
</form>
