.search-bar{
    @media(min-width:1024px){
        input[type=text]{
            width:375px;
        }
    }
    
     @media(min-width:1100px){
        input[type=text]{
            width:455px;
        }
    }
    
    @media(min-width:1200px){
        input[type=text]{
            width:555px;
        }
    }
    [uib-dropdown-menu ]{
        li{
            a{
                color:$support_color_dark_one !important; 
                font-size: 14px;
            }
        }
    }
    [uib-dropdown-toggle]{
        width: 175px;
        font-size: 14px;
        /*p{
            float: right   
        }  */      
    }
}