<form class="navbar-form navbar-left search-bar" role="search">
  <div class="form-group">
    <input type="text" class="form-control" data-ng-model="searchBar.search.searchString" 
    uib-typeahead="result as result.sku+' '+result.name for result in searchBar.textTyped($viewValue) | limitTo:8" 
    placeholder="Search" typeahead-template-url="{{searchBar.search.typeaheadTemplate}}"
    data-ng-focus="searchBar.focus()" data-ng-blur="searchBar.blur()">
  </div>
  <div class="btn-group" uib-dropdown>
    <button id="single-button" type="button" class="btn btn-primary" uib-dropdown-toggle>
      <p>{{searchBar.search.searchScope}} <span class="caret"></span></p>
    </button>
    <ul uib-dropdown-menu role="menu" aria-labelledby="single-button">
      <li role="menuitem" data-ng-repeat="category in searchBar.search.categories" data-ng-click="searchBar.search.searchScope = category"><a href="#">{{category}}</a></li>
      <li class="divider"></li>
      <li role="menuitem" data-ng-click="searchBar.search.searchScope = 'All'"><a href="#">All</a></li>
    </ul>
  </div>
  <a href="/search"><button type="submit" class="btn btn-default"><i class="glyphicon glyphicon-search"></i></button></a>
</form>