.typeahead-popup{
    .first-exact{
        &:before{
            content: 'exact match';
            font-size: 11px;
        }
    }
    .first-close{
        &:before{
            content: 'close matches';
            font-size: 11px;
        }
    }
    .first-suggest{
        &:before{
            content: 'suggestions';            
            font-size:11px;
        }
    }
}