<ul class="typeahead-popup dropdown-menu" data-ng-show="isOpen() && !moveInProgress" data-ng-style="{top: position().top+'px', left: position().left+'px'}" role="listbox" aria-hidden="{{!isOpen()}}">
    <!--exact match-->
    <div data-ng-repeat="match in matches |orderBy:'model.typeId' track by $index">
        <p data-ng-if="match.model.firstExact">Exact match</p>
        <p data-ng-if="match.model.firstClose">Close matches</p>
        <p data-ng-if="match.model.firstSuggest">Suggestions</p>
        <li  data-ng-class="{active: isActive($index), 'view-all-results': match.model.typeId===3, 'suggestions':match.model.typeId }" data-ng-mouseenter="selectActive($index)" data-ng-click="selectMatch($index, $event)" role="option" id="{{::match.id}}">
        <div uib-typeahead-match index="$index" match="match" query="query" template-url="templateUrl"></div>
    </li>
    </div>
    
   <!-- close matches
    <li data-ng-repeat="match in matches |filter:{model:{'type':'close'}}|limitTo:8 track by $index" data-ng-class="{active: isActive($index) }" data-ng-mouseenter="selectActive($index)" data-ng-click="selectMatch($index, $event)" role="option" id="{{::match.id}}">
        <div uib-typeahead-match index="$index" match="match" query="query" template-url="templateUrl"></div>
    </li>
    suggestions
    <li data-ng-repeat="match in matches |filter:{model:{'type':'suggestion'}}|limitTo:8 track by $index" data-ng-class="{active: isActive($index) }" data-ng-mouseenter="selectActive($index)" data-ng-click="selectMatch($index, $event)" role="option" id="{{::match.id}}">
        <div uib-typeahead-match index="$index" match="match" query="query" template-url="templateUrl"></div>
    </li>-->
</ul>