.typeahead-popup{
    border-radius: 0px;
    border: 1px solid black !important;
    z-index:99999;
    p{
        font-size: 11px;
        margin-bottom: 5px;
        margin-top: 5px;
        margin-left: 10px;
        color:#c1c1c1
    }
    li{
        cursor: pointer;
    }
    .view-all-results{
        color: $accent_color;
        margin-top: 5px;
        font-weight: 600
    }
    .suggestions{
        div{
            span{
                a{
                    color:$accent_color !important;
                    font-weight: 600;
                    text-decoration: none
                }
            }
        }
    }
    interchange{
        color:$accent_color;
        font-size: 11px;
    }
}