$accent_color : #0099CC;
$color_extreme_one : black;
$color_extreme_two : white;
$support_color_dark_one : #222222;
$support_color_dark_two : #323232;
$support_color_light_one : #dbdbdb;
$support_color_light_two : #f0f0f0;
$support_color_primary:#0093c6;
$support_color_light_blue_third: #119aca;
$support_color_dark_black_third: #404040;
$support_color_default:#000000;
$category_menu_bg:#222222;
$load_more:#525252;

$website_logo:"/assets/images/dana-logo.png";
$home:"/assets/images/home.png";

/*@font-face {
    font-family: 'Open Sans';
    src: url("/assets/skins/dana/fonts/OpenSans-Light.ttf"),
        url("/assets/skins/dana/fonts/OpenSans-Bold.ttf"),
        url("/assets/skins/dana/fonts/OpenSans-LightItalic.ttf"),
        url("/assets/skins/dana/fonts/OpenSans-BoldItalic.ttf"),
        url("/assets/skins/dana/fonts/OpenSans-Regular.ttf"),    
        url("/assets/skins/dana/fonts/OpenSans-ExtraBold.ttf "),
        url("/assets/skins/dana/fonts/OpenSans-Semibold.ttf"),
        url("/assets/skins/dana/fonts/OpenSans-ExtraBoldItalic.ttf"),
        url("/assets/skins/dana/fonts/OpenSans-SemiboldItalic.ttf"),    
        url("/assets/skins/dana/fonts/OpenSans-Italic.ttf");
}*/